<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add News</title>
</head>
<body>
    <% if (session.user && session.user.role === 'admin') { %> 
        <div class="form"> 
            <h1>Добавить новость</h1>
            <form method="POST" action="/dashboard/add-news" enctype="multipart/form-data"> 
                <label for="title">Заголовок:</label> 
                <input type="text" name="title" required> 
                <br>

                <label for="category">Категория:</label> 
                <input type="text" name="category" required> 

                <br>

                <label for="description">Описание:</label> 
                <textarea name="description" rows="5"></textarea> 

                <br>
                
                <label for="poster">Постер:</label> 
                <input type="file" name="poster" id="poster" /> 

                <br>

                <button type="submit">Добавить новость</button> 

            </form> 

            <div class="popup-overlay"> 
                <div class="popup"> 
                    <h2>Новость добавлена в базу данных!</h2> 
                    <button class="close">Закрыть</button> 
                </div> 
            </div> 

        </div>

    <% } else { %> 
        <div class="form"> 
            <h1>Добавить новость</h1> 
            <form method="POST" action="/dashboard/add-news" enctype="multipart/form-data"> 
                <label for="title">Заголовок:</label> 
                <input type="text" name="title" required> 

                <br>

                <label for="category">Категория:</label> 
                <input type="text" name="category" required> 

                <br>

                <label for="description">Описание:</label> 
                <textarea name="description" rows="5"></textarea> 

                <br>
                
                <label for="poster">Постер:</label> 
                <input type="file" name="poster" id="poster" /> 

                <br>

                <button type="submit">Добавить новость</button>

            </form> 

          

        </div>
    <% } %>

 
</body>
</html>