<!-- <!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>My Site</title>
</head>
<body>
     <nav>
        <a href="/">Главная страница</a>
            <a href="/logout">Выход</a>
            <a href="/login">Вход</a>
            <a href="/register">Регистрация</a>
            <a href="/dashboard">Личный кабинет</a>
       
     </nav>
</body>
</html> -->