<body>
    <div class="form">
        <h1>Ваш профиль:</h1>
        <p>Имя: <%= userDetails.nickname %></p>
        <p>Информация: 
            <div class="about">
                <%= userDetails.about %>
            </div>
        </p>

        <div class="avatar">
            <% if (userDetails.avatarUrl) { %>
                <img src="<%= userDetails.avatarUrl %>" alt="User Avatar" />

                <form method="POST" id="delete-avatar-form" action="/dashboard/profile/<%= userDetails.user._id %>/delete-avatar" enctype="multipart/form-data">
                    <button type="submit">Удалить аватар</button>
                </form>
                
            <% } else { %>
                <p>Профиль не найден</p>
            <% } %>
        </div>
    </div>

    <script>
        const deleteForm = document.querySelector('#delete-avatar-form');
        deleteForm.addEventListener('submit', (event) => {
            const confirmDelete = confirm('Are you sure you want to delete the avatar?');
            if (!confirmDelete) {
                event.preventDefault();
            }
        });
    </script>

</body>